# Visual Studio

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Fichiers de compilation
x64/
Debug/
Release/
*.obj
*.exe
*.dll
*.pdb

# Temp
*.log
*.vsidx
no 8.3                                                                                        .gitignore                                                                                        Modified
# Dossiers à ignorer
.vs/
*.db
*.suo
*.sqlite
*.user

# Fichiers générés
*.exe
*.obj
*.pdb
*.idb*








